@model Feedback
@{
    ViewData["Title"] = "Feeback";
}

<h1>Test</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Index" method="post" class="form-horizontal" role="form">
    <div class="form-group row">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Message" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Message" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ContactMe" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input type="checkbox" asp-for="ContactMe" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Send Feedback"/>
        </div>
    </div>
</form>
